@font-face {
    font-family: Norse;
    src: url("font/Norse-Bold.otf");
}

:root{
    --background-color:#FAFAFA;
    
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.form-paragraph{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.left{
    flex: 1;
    min-width: 250px;
    background-image: url("images/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60%;
    background-color: var(--background-color);
}

.footer{
    display: flex;
    justify-content: center;
}
.footer>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:  black;
}
.footer>a:hover{
    text-decoration: underline;
}

fieldset{
    border:none;
}

label{
    display: flex;
    min-width: 200px;
    width: 30%;
    flex-direction: column;
}

.personal-info div{
    display: flex;
    gap: 50px;
}
.personal-info{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 20px 20px -20px black;
    background-color: white;
    padding-bottom: 30px;
    
}

.form{
    display: flex;
    flex-direction: column;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    
    
    border: solid 2px #e5e7eb;
    border-radius: 5px;
}

input:not(input[type="submit"]):focus{
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px 0.5px lightblue;
}

input[type = "submit"]{
    width: 200px;
    height: 40px;
    background-color: #596D48;
    color: white;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    transition: transform 200ms;
}
input[type = "submit"]:hover{
    transform: scale(1.05);
}

.create-acc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error{
    border: 2px solid red;
}
.error-msg::after{
    content:'* Passwords do not match';
    color: red;   
}

.text{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

p{
    font-weight: 600;
}

h1{
    font-family: Norse,Arial, Helvetica, sans-serif;
    color: white;
}

.dark-bar{
    margin: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    font-size: 40px;
    gap: 10px;
}

.dark-bar img{
    width: 100px;
}